// Variables
$primary-color: #4193c9;
$secondary-color: #822ecc;
$font-color: #e6e6e6;
$background-color: #1A1A1A;
$header-height: 60px;
$footer-height: 40px;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin box-shadow {
  box-shadow: 0 0px 10px $secondary-color;
}

@mixin border-radius {
  border-radius: 10px;
}

@mixin item-header-tags{
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;

  @media (max-width: 520px) {
    padding: 3px 8px;
    font-size: 0.8em;
  }
}

@mixin lists {
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px;

  .card {
    width: 200px;
    position: relative;

    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  
    @media (min-width: 490px) {
      flex: 1 1 calc(33.33% - 10px);
      max-width: calc(33.33% - 10px)
    }
  
    @media (min-width: 705px) {
      flex: 1 1 calc(25% - 10px);
      max-width: calc(25% - 10px)
    }
    
    @media (min-width: 950px) {
      flex: 1 1 calc(20% - 10px);
      max-width: calc(20% - 10px);
    }
    
    @media (min-width: 1165px) {
      flex: 1 1 calc(16.66% - 10px);
      max-width: calc(16.66% - 10px);
    }
    
    @media (min-width: 1390px) {
      flex: 1 1 calc(14.28% - 10px);
      max-width: calc(14.28% - 10px);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; 
      @include border-radius;
    }
  }

  .card::before {
    content: "";
    display: block;
    padding-top: 150%;
  }
}