// Variables
$primary-color: #4193c9;
$secondary-color: #822ecc;
$font-color: #e6e6e6;
$background-color: #1A1A1A;
$header-height: 60px;
$footer-height: 40px;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin box-shadow {
  box-shadow: 0 0px 10px $secondary-color;
}

@mixin border-radius {
  border-radius: 10px;
}

@mixin item-header-tags{
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;

  @media (max-width: 520px) {
    padding: 3px 8px;
    font-size: 0.8em;
  }
}