@import 'variables';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  color: var(--text-color);
  background-color: var(--background-color);
  @include flex-center;
}

main {
  flex: 1;
  padding: 20px;
}

.home {
  @include flex-center;
  flex-direction: column;
}

.tv-list, .movie-list, .people-list {
  @include lists;
}

.list-header {
  font-size: 1.5rem;
  margin-top: 1.5rem 0 1rem;
}

.search-bar {
  outline: 0;
  text-indent: 12px;
  width: 19rem;
  padding: 0.4rem 0;
  border-radius: 12px;
  border: 2px solid #ccc;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 5px $primary-color;
  }
}