@import 'variables';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header, footer{
  @include flex-center;
  height: 3rem;
}


footer {
  margin-top: 0.5rem;
}


header {
  position: relative;
  background-color: lighten($background-color, 5%);

  .header-button {
    outline: 0;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
}


main {
  flex: 1;
}


.home {
  @include flex-center;
  flex-direction: column;
}


.list-header {
  font-size: 2rem;
  margin-top: 5rem;
}
#movie-list-header {
  margin-top: 0;
}


.item-list {
  @include lists;
  @include flex-center;
}
.card {
  position: relative;

  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);

  @media (min-width: 490px) {
    flex: 1 1 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px)
  }

  @media (min-width: 705px) {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px)
  }
  
  @media (min-width: 950px) {
    flex: 1 1 calc(20% - 10px);
    max-width: calc(20% - 10px);
  }
  
  @media (min-width: 1165px) {
    flex: 1 1 calc(16.66% - 10px);
    max-width: calc(16.66% - 10px);
  }
  
  @media (min-width: 1390px) {
    flex: 1 1 calc(14.28% - 10px);
    max-width: calc(14.28% - 10px);
  }

  .movie-title, .tv-name, .person-name {
    @include flex-center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 10px; 
    box-sizing: border-box;
  }

  &:hover .movie-title,
  &:hover .tv-name,
  &:hover .person-name {
    cursor: pointer;
    opacity: 1;
  }
}


.search-bar {
  outline: 0;
  text-indent: 12px;
  width: 19rem;
  padding: 0.4rem 0;
  border-radius: 12px;
  border: 2px solid #ccc;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 5px $primary-color;
  }
}


main {
  padding: 20px;

  @media (max-width: 768px) {
    padding: 10px;
  }
}


.load-results-button-container {
  @include flex-center;

  .load-results-button {
    display: inline-block;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 12px 24px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    border: 3px solid white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow ease 0.3s, transform ease 0.3s;
  
    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 15px rgb(149, 103, 255);
    }

    @media (max-width: 520px) {
      font-size: 0.8rem;
    }
  }
}


.details {
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  background-color: lighten($background-color, 5%);

  @media (max-width: 768px) {
    max-width: 100%;
    margin: 10px;
    padding: 5px;
  }
}


.details-header{
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 150px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1;
  }

  .header-content {
    position: relative;
    z-index: 2;
    padding: 40px;
    border-radius: 8px;
    text-align: center;

    .details-header-title {
      font-size: 2.2em;
  
      @media (max-width: 520px) {
        font-size: 1.6em;
      }
    }
  }

  #rating-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    outline: none;
    border: 2px solid #dfe6e9;
    @include border-radius;
    padding: 0.4rem 0.8rem;
    background-color: #2d3436;
    color: #dfe6e9;
    font-size: 1em;
    font-weight: bold;
    z-index: 2;

    @media (max-width: 520px) {
      font-size: 0.9em;
    }
  }

  .tagline {
    font-style: italic;
  }

  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .item-tags {
      @include flex-center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;

      .genre {
        background: #7B68EE;
        @include item-header-tags;
      }

      span {
        background: rgba(240, 128, 128, 0.7);
        @include item-header-tags;
      }
    }
  }
}


section {
  margin-bottom: 20px;

  h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;

    @media (max-width: 768px) {
      font-size: 1.2em;
    }
  }
}


.overview {
  @media (max-width: 768px) {
    font-size: 0.9em;
  }
}


.review {
  border: 1px solid #ddd;
  padding: 2rem;
  margin: 1rem 0;
  background-color: lighten($background-color, 5%);

  .author {
    font-weight: bold;  

    @media (max-width: 768px) {
      font-size: 0.9em;
    }
  }

  .review-content { 
    @media (max-width: 768px) {
      font-size: 0.9em;
    }
  }
}


.trailer-section {
  margin-bottom: 20px;

  .trailer {
    @include border-radius;
    width: 100%;
    height: 540px;
    border: none;

    @media (max-width: 768px) {
      height: 250px;
    }
  }
}


.loading {
  text-align: center;
  font-size: 1.5em;
  color: #555;
  padding: 50px 0;

  @media (max-width: 768px) {
    font-size: 1.2em;
    padding: 30px 0;
  }
}
