@import 'variables';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  color: $font-color;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  @include flex-center;
}
